.user-profile {
    text-align: center;
}

.profile-picture img {
    max-width: 20%; /* Максимальная ширина будет равна ширине родительского элемента */
    height: auto; /* Автоматическое масштабирование высоты, чтобы сохранить пропорции */
    display: block; /* Убираем лишние отступы вокруг изображения */
    margin: 0 auto; /* Центрируем изображение по горизонтали */
}

.profile-details {
    margin-top: 20px; /* Отступ сверху для деталей профиля */
}

/* Применяем стили для мобильных устройств */
@media (max-width: 768px) {
    .profile-picture img {
        max-width: 50%; /* Уменьшаем максимальную ширину изображения для мобильных экранов */
    }
    
    .profile-details {
        margin-top: 10px; /* Уменьшаем отступ сверху для деталей профиля на мобильных экранах */
    }
}

/* Применяем стили для планшетов и более крупных устройств */
@media (min-width: 769px) {
    .user-profile {
        display: flex; /* Используем flexbox для более удобного размещения элементов в строку */
        justify-content: center; /* Центрируем элементы по горизонтали */
        align-items: center; /* Центрируем элементы по вертикали */
        text-align: left; /* Выравниваем текст внутри секции слева */
    }
    
    .profile-picture img {
        max-width: 20%; /* Возвращаем максимальную ширину изображения обратно для больших экранов */
    }
    
    .profile-details {
        margin-top: 0; /* Сбрасываем отступ сверху для деталей профиля на больших экранах */
        margin-left: 30px; /* Добавляем отступ слева для деталей профиля на больших экранах */
    }
}

